* {
    margin: 0;
    padding: 0;
}

.header {
    background: #222222;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.men, .top-content-text-title, .mega-box{
    border: 1px solid #000;
}

.top-content-box {
    display: flex;
}

.photo {
    margin-left: -100px;
}

.mega-box {
    background: #FFFFFF;
    width: 232px;
    padding-bottom: 167px;
}

/*.close-menu {*/
/*    margin: 16px 16px 16px 203px;*/
/*}*/

/*.mega-box-heading {*/
/*    font-weight: 700;*/
/*    font-size: 14px;*/
/*    line-height: 17px;*/
/*    color: #000000;*/
/*    margin-bottom: 24px;*/
/*    margin-left: 34px;*/
/*}*/

/*.mega-heading {*/
/*    font-weight: 400;*/
/*    font-size: 14px;*/
/*    line-height: 17px;*/
/*    color: #F16D7F;*/
/*    margin-bottom: 12px;*/
/*    margin-left: 34px;*/
/*}*/

/*.mega-link {*/
/*    display: block;*/
/*    font-weight: 400;*/
/*    font-size: 14px;*/
/*    line-height: 17px;*/
/*    color: #6F6E6E;*/
/*    margin-bottom: 12px;*/
/*    margin-left: 54px;*/
/*    text-decoration: none;*/
/*}*/

/*.mega-link:hover {*/
/*    color: #F16D7F;*/
/*}*/

