* {
    margin: 0;
    padding: 0;
}

.header {
    background: #222222;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.top-box {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: baseline;
}

.header-left-find {
    margin-left: 41px;
}

.header-right {
    display: flex;
    align-items: baseline;
}

.header-right-menu {
    margin-right: 25px
}

.header-right-profile {
    margin-right: 42px
}

.top-content{
    background: #F1E4E6;
    display: flex;
}

.top-content-box {
    display: flex;
    align-items: center;
}

.photo {
    margin-left: -100px;
}
.top-content-text-title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    border-left: 12px solid #000;
    padding-left: 16px;
}

.top-text-content {
    font-weight: 700;
    line-height: 38px;
    font-size: 32px;
}

.top-content-pink {
    color: #F16D7F;
}

.top-border-left{
    border-color: #F16D7F;
}

.mega-box {
    background: #FFFFFF;
    width: 232px;
    padding-bottom: 167px;
}

.close-menu {
    margin: 16px 16px 16px 203px;
}

.mega-box-heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 24px;
    margin-left: 34px;
}

.mega-heading {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    margin-bottom: 12px;
    margin-left: 34px;
}

.mega-link {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin-bottom: 12px;
    margin-left: 54px;
    text-decoration: none;
}

.mega-link:hover {
    color: #F16D7F;
}

.big-menu {
    margin-top: 60px;
}

.people {
    height: 260px;
    display: flex;
}

.offer {
    height: 100%;
    flex-grow: 1;
}

.women {
    margin-right: 30px;
}

.men {
    margin-right: 30px;
}

.accessories {
    margin-top: 30px;
}

.content {
    margin-top: 96px;
}

.caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18px;
}

.caption-main {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.text {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.caption-content {
    margin-top: 6px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-link {
    text-decoration: none;
}

.card {
    margin-top: 30px;
    background: #F8F8F8;
    position: relative;
}

.card:hover .add-box {
    display: flex;
}

.card:hover  .item-pic {
    filter: brightness(30%);
}

.card-content{
    flex-grow: 1;
    width: 360px;
    padding-left: 18px;
    box-sizing: border-box;
}

.card-caption {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-top: 25px;
}

.card-title {
    font-weight: 300;
    margin-top: 12px;
}

.card-price {
    margin-top: 18px;
    margin-bottom: 18px;
}

.content-button-block {
    display: flex;
    justify-content: center;
}

.content-button {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #F16D7F;
    border: 1px solid #FF6A6A;
    padding: 15px 38px;
    text-decoration: none;
    display: inline-block;
    margin-top: 48px;
}

.add-box{
    position: absolute;
    display: none;
    justify-content: center;
    top: 188px;
    width: 100%;
    pointer-events: none;
}

.add {
    padding: 8px;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFFFFF;
    pointer-events: auto;
}

.cars-basket-text {
    margin-left: 11px;
}
